
body{
    background:black;
}
.principal{
    background:rgb(255, 0, 0);
    color:black;
    text-align:center;
}
.dos{
    background:rgb(117, 255, 4);
    color:blackblue;
    text-align:center;
    padding: 200px 50px;
    margin: 50px 100px;
}
ul{
    list-style: none;
    display: flex;
    margin-left:200px;
}
.header{
    background:black;
    display: flex;
    height: 90px;

}
.logo{
    background-color: black;
    text-align: center;
}
a{
    padding: 0px 10px;

}
.tres{
    background-color:rgb(255, 0, 212) ;
    color: black;
    text-align: center;
    padding: 200px 50px;
    margin: 50px 100px;
}
.cuatro{
    background-color: black;
    color: white;
    text-align: center;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container2{
    text-align: center;
    background: rgb(255, 0, 255);
    height: 30px;
    margin-top: 5px;
}
.container1 ul{
    display: list-item;
}
.redes{
    text-align: center;
}
.redes{
    background-color:yellow ;
    color: black;
}
footer{
    background-color:yellow ;
}
.separador{
    background: black;
    color: black;

}